li {
    display: inline;
    font-size: 5em;
    border: 0.5px solid black;
    background-color: lightgray;
    margin: 5px;
    border-bottom-color: lightgray;
    

    
}

.one{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition-property: border-bottom-color;
    border-bottom-width: 10px;
    border-bottom-color: lightgray;
    transition-duration: 300ms;
    transition-property: border-bottom, opacity;
    transition-timing-function: linear;
    opacity: 1.0;
    border-bottom: 0.5px black solid;
    
    


}

.one:hover{
    border-bottom-color:blue;
    border-bottom-width: 10px;
    opacity: 0.5;
}

ul{
    padding: 20px;
    
    
}

